.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  /* выше установили ограничения для секции */
  /* border: 1px solid red; */
}

.logo_place_header {
  position: absolute;
  margin: 30px 0 0 64px;
  justify-content: center;
  /* border: 1px solid black; */
  z-index: 100;
  width: 228px;
  height: 32px;
}

.header_title {
  position: absolute;
  margin-left: 64px;
  width: 730px;
  /* border: 1px solid red; */
  align-self: center;
  z-index: 100;
  line-height: 96px;
  font-size: 102px;
  font-style: 600;
}

.header__subtitle-text {
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  margin-left: 64px;
  margin-bottom: 30px;
  /* border: 1px solid red; */
  z-index: 100;
  align-self: flex-end;
}

.header_main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  align-self: flex-end;
  /* border: 1px solid red; */
  z-index: 99;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  background-color: #2f80ed;
  margin-top: 64px;
  z-index: 98;
}

/* и элемента с модификатором вида ключ-значение */

.descrption_two-columns {
  display: flex;
  margin: 100px;
  width: 80%;
  margin-top: 80px;
  justify-content: space-between;
}

.two-columns_brief {
  width: 175px;
}

.two-columns_parafraph {
  width: 80%;
  min-width: 784px;
}

.brief-text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;
  font-weight: 400;
}

.paragraph_text {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.content_digits {
  display: flex;
  flex-direction: column;
}

.digits-title {
  margin-bottom: 20px;
  text-align: center;
}

.text-digits-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.digits-subtitle {
  margin-bottom: 0;
  text-align: center;
  align-self: center;
}

.text-digits-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.heading__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.text_bank {
  margin-top: 20px;
}

.table__cell {
  display: inline-block;
  width: 250px;
  text-align: start;
  vertical-align: text-top;
  margin: auto 10px;
}

.feynman-block {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
}

.feynman-title {
  width: 648px;
  z-index: 100;
  align-self: center;
  margin-top: 100px;
}

.feynman-title-text {
  line-height: 1.15;
  font-size: 120px;
  font-style: normal;
  text-align: center;
  margin: 0;
}

.feynman-subtitle {
  margin: 0 auto;
  z-index: 100;
  margin-top: 70px;
}

.feynman-subtitle_text {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}

.feynman_image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
}

.feynman_link {
  position: absolute;
  top: 50%;
  right: 48px;
  overflow: auto;
}

.feynman_link a {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman-block {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
}

.kaufman-title_theme_dark {
  margin: 90px auto 0;
  width: 60%;
  z-index: 100;
}

.kaufman-title-text_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #f2f2f2;

}

.kaufman-subtitle_theme_dark {
  line-height: 34px;
  width: 60%;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  margin: 20px auto 0;
  z-index: 100;
}

.kaufman-subtitle-text_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  padding: 0;
  margin: 0;
  color: #f2f2f2;
}

.table {
  border-collapse: separate;
  border-spacing: 10px 20px;
  margin: 80px auto 90px;
  z-index: 99;
}

.digits__table {
  display: flex;
  width: 1100px;
  border-collapse: separate;
  border-spacing: 40px 20px;
  margin: 60px auto 90px;
}

.cell {
  width: 250px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  padding-bottom: 0;
}

.table__text-subtitle {
  vertical-align: baseline;
}

.cell_title {
  padding-top: 80px;
}

.triangle_div {
  width: 877px;
  height: 877px;
  border: 1px;
  position: absolute;
  right: -210px;
  z-index: 1;
  padding: 0;
}

.triangle_image {
  width: 100%;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #000000;
  position: relative;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

.footer__text {
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__author {
  display: flex;
  margin: 18px 0;
  position: absolute;
  bottom: 38px;
}
